export(acde)
export(twinlm)
export(twinsim)
import(lava)
import(stats)
import(utils)
S3method(acde,twinlm)
S3method(compare,twinlm)
S3method(logLik,twinlm)
S3method(model.frame,twinlm)
S3method(plot,twinlm)
S3method(print,summary.twinlm)
S3method(print,twinlm)
S3method(summary,twinlm)
S3method(vcov,twinlm)
