import(lava)

export(
       binary,
       "binary<-",
       tobit_method.lvm,
       tobit_objective.lvm,
       tobit_gradient.lvm,
       tobit_hessian.lvm,
       tobit_logLik.lvm,
       lava.tobit.estimate.hook,
       lava.tobit.color.hook
       )

S3method(binary,lvm)
S3method("binary<-",lvm)



