import(lava)

export(
       mixture,
       mvnmix
       )


S3method(iid, lvm.mixture)
S3method(predict, lvm.mixture)
S3method(model.frame, lvm.mixture)
S3method(manifest, lvm.mixture)
S3method(coef, lvm.mixture)
S3method(logLik, lvm.mixture)
S3method(score, lvm.mixture)
S3method(information, lvm.mixture)
S3method(plot, lvm.mixture)
S3method(vcov, lvm.mixture)
S3method(print, lvm.mixture)
S3method(summary, lvm.mixture)
S3method(print, summary.lvm.mixture)

S3method(plot, mvn.mixture)
S3method(print, mvn.mixture)
