import(lava)

export(
       mixture
       )

S3method(coef, lvm.mixture)
S3method(logLik, lvm.mixture)
S3method(plot, lvm.mixture)
S3method(vcov, lvm.mixture)
S3method(print, lvm.mixture)
S3method(summary, lvm.mixture)
S3method(print, summary.lvm.mixture)
