useDynLib(bptwin)
import(utils)
import(stats)
import(lava)

export(
       plotcr,
       cif,
       prepcif,
       simcif,
       cumh,
       ipw,
       nonparcuminc,
       splinebasis,
       CondMom,
       bptwin,
       bicomprisk,
       biprobit,
       bpnd,
       npc,
       bicomprisk,
       fastapprox       
)

S3method(sim, "bptwin")
S3method(score, "biprobit")
S3method(logLik, "biprobit")
S3method(vcov, "biprobit")
S3method(coef, "biprobit")
S3method(print, "biprobit")
S3method(summary, "biprobit")
S3method(print, "summary.biprobit")
S3method(summary, "bptwin")
S3method(print, "summary.bptwin")

S3method(print, "biprobit.strata")
S3method(coef, "biprobit.strata")
S3method(summary, "biprobit.strata")
S3method(logLik, "biprobit.strata")
S3method(score, "biprobit.strata")
S3method(plot, "biprobit.strata")


S3method(plot, "cumh")
S3method(summary, "cumh")
S3method(print, "cumh")
       
S3method(predict,"cif")
S3method(logLik,"cif")
S3method(summary,"cif")
S3method(print,"cif")
S3method(plot,"cif")
S3method(coef,"cif")
