useDynLib(bptwin)
import(utils)
import(stats)

export(
       plotcr,
       cif,
       prepcif,
       simcif,
       nonparcuminc,
       splinebasis,
       CondMom,
       bptwin,
       bptwin0,
       bptwin,
       biprobit,
       bpnd,
       sim,
       score,
       fastapprox       
)

S3method(sim, "bptwin")
S3method(score, "bptwin")
S3method(logLik, "bptwin")
S3method(vcov, "bptwin")
S3method(coef, "bptwin")
S3method(print, "bptwin")
S3method(summary, "bptwin")
S3method(print, "summary.bptwin")

S3method(summary, "bptwin.list")
S3method(print, "bptwin.list")
       
S3method(logLik,"cif")
S3method(summary,"cif")
S3method(print,"cif")
S3method(plot,"cif")
S3method(coef,"cif")
